h6{
    padding: auto; 
    margin:auto;
    color:whitesmoke;
    font-size:70px;
    background-color:rgb(159, 180, 204);
    height:200px;
    width:100%; 
    text-align: center
}
P{
   padding: 50px 20px; 
   margin: auto; 
   color: aquamarine;
   font-size: 50px; 
   text-align: center; 
   background-color:rgb(51, 151, 129), 
   ; height: 100px; 
   width: 100;

}
ul{
    text-decoration: none;
}
ul li{
    display: inline-block;
    background-color: greenyellow;
    color:rgb(29, 83, 131);
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    margin: 30px;
}
